*{
    border : 0px;
    margin : 0px;
}

.flex-under{
    display: flex;
    flex-direction: column;
    height: 88.2vh;
}

.box-mid{
    flex: 1;
    background-color: #E7E6E4;
    text-align: center;
}

.box-1{
    flex: 0.07;
    background-color:#EAC5A2;
    text-align: right;
}
.box-2{
    flex: 1;
    background-color: #F3DCBB;
}
.box-2-popup{
    display: inline-block;  
    position: absolute;
    right: 0;
    height: 80px;
    width: auto;
    visibility: hidden;
    text-align: center; 
    z-index: 12;
    background-color: rgb(226, 206, 206);
}

.box-button{
    text-align: center;
}

.box-3{
    flex: 0.2;
    color: rgb(19, 16, 16);
    background-color: #F2E8D2;
}

#edit-popup{    
    display: inline-block;  
    position: absolute;
    height: 300px;
    width: auto;
    left: 50%; 
    transform: translateX(-50%);
    visibility: hidden;
    text-align: center; 
    z-index: 12;
    background-color: rgb(180, 169, 169);
}


#btn_add{
    border: 2px solid rgb(214, 174, 99);
    background-color: rgba(0,0,0,0);
    font-size: 30px;
    color: rgb(223, 128, 51);
}

#btn_add:hover{
    color:rgb(56, 56, 56);
}

#btn_hide{
    display: inline-block;
    border: 2px solid rgb(214, 174, 99);
    background-color: rgba(0,0,0,0);
    font-size: 23px;
    color: rgb(223, 128, 51);
    
}

#btn_hide:hover{
    color:rgb(56, 56, 56);
}

#btn_submit{
    display: inline-block;
    border: 2px solid rgb(214, 174, 99);
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    color: rgb(223, 128, 51);
}

#btn_submit:hover{
    color:rgb(56, 56, 56);
}

#date{    
    display: inline;  
    color: #545E63;
    font-size: 3vh;
    font-family: 'Abel', sans-serif;
}

#clock{
    display: inline;
    color: #545E63;
    font-size: 6vh;
    font-family: 'Abel', sans-serif;
}

