*{
    border : 0px;
    margin : 0px;

}
body{
    background-color: #E7E6E4;
}

.box-add-popup{
    display: inline-block;  
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    width: 36vw;
    z-index: 12;

    visibility: hidden;
    text-align: center; 
   
    background-color: rgb(233, 233, 233);

    border-left: 3px ridge #545E63;
}
#popup-main{
    margin: 15px 0;
}
#text-add{
    margin: 2vh 0;
    font-family: 'Abel', sans-serif;
    font-size: 3vmin;
}
.add-field{
    width: 80%;
    line-height: 10vh;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 4px;

    font-size: 3vmin;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.box-button{
    margin-top: 15px;
}

.btn-mini{
    display: inline-block;
    border: 3px double #545E63;
    background-color: rgba(0,0,0,0);

    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3vmax;
    font-weight: bold;
    color: rgb(49, 47, 47);
}
.btn-mini:hover{
    color:rgb(0, 0, 0);
    border: 3px solid #545E63;
}



.box-top{
    margin-top: 2vh;
    background-color: #E7E6E4;
    text-align: center;
}

.time{   
    display: inline; 
    color: #545E63;   
    font-family: 'Abel', sans-serif;
}
#date{
    display: inline;
    font-size: 4vh;
}
#clock{
    display: inline;
    font-size: 7vh;
}

.box-btn-add{
    display: inline-block;
    position: absolute;
    right: 3vw;
    top: 2.7vh;
    text-align: right;
}

#btn-add{
    width: 22vh;
    height: 8vh;
    border: 3px double #545E63;
    background-color: rgba(0,0,0,0);

    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(49, 47, 47);
}

#btn-add:hover{
    color:rgb(0, 0, 0);
    border: 3px inset #545E63;
}

.box-main{
    background-color: #E7E6E4;
    margin : 1vh 3vw;
    border-top : 1vh dashed #545E63;
}

.title-list{
    margin: 2vh 0;
    font-family: 'Abel', sans-serif;
    font-size: 3vmax;
    font-weight: bold;
    text-align: center;
}

.box-list{
    text-align: center;
    color: #545E63;   
    font-size: 3vmin;
    font-family: 'Abel', sans-serif;
}
#todo-list{
    width: 100%;  
    border: 1px solid black;
}

#todo-list th{
    border: 1px solid black;
}

#todo-list tr{
    border: 1px solid red;
}






